@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Frank";
  src: url("/fonts/Frank-Black.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DMSerif";
  src: url("/fonts/DMSerif.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TheFarmer";
  src: url("/fonts/TheFarmer.ttf");
  font-style: normal;
  font-display: swap;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Frank" !important;
}
::-moz-selection {
  /* Code for Firefox */
  color: #fab87e;
  background: rgba(0, 0, 0, 0);
}

::selection {
  color: #fab87e;
  background: rgba(0, 0, 0, 0);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  border-top-right-radius: 5px ;
  border-bottom-right-radius: 5px ;
}

/* Track */
::-webkit-scrollbar-track {
  border-top-right-radius: 5px ;
  border-bottom-right-radius: 5px ;
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #180f2e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #372a5a;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


/*////////////////////////////////////////// MARGINS////////////////////////////////////////*/

.m-w-2\/3 {
  max-width: 66%;
}
.mt-screen {
  margin-top: 100vh;
}
.mt-screen-1\/2 {
  margin-top: 50vh;
}
.mt-screen-1\/3 {
  margin-top: 33.33vh;
}
.-mt-\%-17 {
  margin-top: -17%;
}
.-mt-3 {
  margin-top: -3rem;
}
.-mt-20 {
  margin-top: -20rem;
}
.mt-classic-header {
  margin-top: 77px;
}
/*//////////////////////////////////////////^^^ MARGINS////////////////////////////////////////*/

/*------------------------------------------------------------------------------------------------*/

/*////////////////////////////////////////// HEIGHTS ////////////////////////////////////////*/
.h-2px {
  height: 2px;
}
.h-335px {
  height: 335px;
}
.h-250px {
  height: 250px;
}
.h-screen-1\/5 {
  height: 20vh;
}
.h-screen-1\/2 {
  height: 50vh;
}
.h-screen-3\/4 {
  height: 75vh;
}
.h-screen-1\/3 {
  height: 33.33vh;
}
.h-screen-1\/4 {
  height: 25vh;
}
.h-screen-2\/3 {
  height: 33vh;
}
.min-h-20 {
  min-height: 4rem;
}
.max-h-screen-minus-100px {
  max-height: calc(100vh - 135px);
}
/*//////////////////////////////////////////^^^ HEIGHTS ////////////////////////////////////////*/

/*------------------------------------------------------------------------------------------------*/

/*////////////////////////////////////////// OUTLINES ////////////////////////////////////////*/

.no-outline {
  outline: none;
}
.no-outline:focus {
  outline: none;
}
.no-outline:active {
  outline: none;
}
/*////////////////////////////////////////// OUTLINES ////////////////////////////////////////*/

/*------------------------------------------------------------------------------------------------*/

/*//////////////////////////////////////////Z-INDEXES ////////////////////////////////////////*/
.-z-10 {
  z-index: -10;
}
/*//////////////////////////////////////////^^^ Z-INDEXES ////////////////////////////////////////*/

/*------------------------------------------------------------------------------------------------*/

/*////////////////////////////////////////// LINE-HEIGHTS ////////////////////////////////////////*/

.line-h-\.7 {
  line-height: 0.7;
}
.line-h-\.5 {
  line-height: 0.5;
}
/*//////////////////////////////////////////^^^ LINE-HEIGHTS ////////////////////////////////////////*/

/*------------------------------------------------------------------------------------------------*/

/*//////////////////////////////////////////^^^ CLIP-PATHS ////////////////////////////////////////*/

.clip-path-one {
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
}
.clip-path-two {
  clip-path: polygon(0 0, 100% 17%, 100% 100%, 0% 100%);
}
.clip-path-three {
  clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 100%);
}

/*//////////////////////////////////////////^^^ CLIP-PATHS ////////////////////////////////////////*/

/*------------------------------------------------------------------------------------------------*/

/*////////////////////////////////////////// COLORS ////////////////////////////////////////*/

.bg-white-tr-20 {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
}
.bg-black-rgba-40 {
  background-color: rgba(0, 0, 0, 0.4);
}

/*//////////////////////////////////////////^^^ COLORS ////////////////////////////////////////*/

/*------------------------------------------------------------------------------------------------*/

/*////////////////////////////////////////// PADDINGS ////////////////////////////////////////*/

.p-100\% {
  padding: 100%;
}
.pr-14px {
  padding-right: 14px !important;
}
.pr-10px {
  padding-right: 10px !important;
}

/*//////////////////////////////////////////^^^ PADDINGS ////////////////////////////////////////*/

/*------------------------------------------------------------------------------------------------*/

/*////////////////////////////////////////// FONT ////////////////////////////////////////*/

.font-super-bold {
  font-weight: 1000;
}

/*//////////////////////////////////////////^^^ FONT ////////////////////////////////////////*/

/*------------------------------------------------------------------------------------------------*/

/*////////////////////////////////////////// ICONS  ////////////////////////////////////////*/

.my-icon-style {
  cursor: pointer;
  transition: fill 0.05s ease-in-out;
}
.my-icon-style-heart {
  cursor: pointer;
  transition: fill 0.02s ease-in-out;
}
.my-icon-style:hover {
  fill: #e84748;
  color: #e84748;
}
.my-icon-style-heart:hover {
  fill: #e84748;
  color: #e84748;
}

/*//////////////////////////////////////////^^^ ICONS ////////////////////////////////////////*/

/*------------------------------------------------------------------------------------------------*/

/*////////////////////////////////////////// FLEXBOX  ////////////////////////////////////////*/

.flex-0 {
  flex: 0;
}

/*//////////////////////////////////////////^^^ FLEXBOX ////////////////////////////////////////*/

/*------------------------------------------------------------------------------------------------*/

/*////////////////////////////////////////// WIDTH  ////////////////////////////////////////*/

.max-width {
  max-width: 1420px;
}

/*//////////////////////////////////////////^^^ WIDTH ////////////////////////////////////////*/

/*------------------------------------------------------------------------------------------------*/




/*///////////////////////////// HEADER STYLES //////////////////////////////////////*/
/* background: */
progress::-webkit-progress-bar {
  background-color: #D1D5DB;
  height: 8px;
  width: 100%;
  border-radius: 5px;
}
progress {
  height: 8px;
  background-color: #D1D5DB;
  border-radius: 5px;

}

/* value: */
progress::-webkit-progress-value {
  height: 8px;
  background-color: #EF4444 !important;
  border-radius: 5px;

}
progress::-moz-progress-bar {
  height: 8px;
  background-color: #EF4444 !important;
  border-radius: 5px;

}
progress {
  height: 8px;
  color: #EF4444;
  border-radius: 5px;

}

.anim-scale-child:hover div {
  transform: scale(1.7);
  transition: transform 0.3s ease-out;
  transform-origin: center;
}

.Collapsible {
  padding: 1rem;
  border-bottom: 2px solid #e5e7eb;
}
.shop-filters-collapsible {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.collapsibles:last-child {
  border-bottom: none;
}
.animate-link-one {
  animation: animate-link 0.6s ease-in-out 0.5s forwards;
}
.animate-link-two {
  animation: animate-link 0.6s ease-in-out 0.6s forwards;
}
.animate-link-three {
  animation: animate-link 0.6s ease-in-out 0.7s forwards;
}
.animate-link-four {
  animation: animate-link 0.6s ease-in-out 0.8s forwards;
}
.animate-down {
  animation: animate-down 0.7s ease-in-out 1s forwards;
}
.stamp-animate {
  animation: stamp-animate 0.4s ease-in 1.5s forwards;
}
.animate-doors-close {
  animation: animateDoorsClose 0.5s ease-out forwards;
}
.animate-width-open {
  animation: animateWidthOpen 0.5s ease-out 0.5s forwards;
}
.animate-close-x {
  transform: rotateZ(90deg) scale(0);
  transform-origin: center;
  animation: animateCloseX 0.3s ease-out 1s forwards;
}

.moving-header {
  position: fixed;
  top: -100%;
  transition: top 1s ease-in-out;
}

.moving-header-down {
  top: 0%;
}

@keyframes animate-link {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes animate-down {
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes stamp-animate {
  0% {
    opacity: 0;
    transform: scale(4);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animateDoorsClose {
  100% {
    transform: translateX(0%);
  }
}

@keyframes animateWidthOpen {
  100% {
    width: 100%;
  }
}
@keyframes animateCloseX {
  50% {
    transform: rotateZ(-60deg) scale(1);
  }
  100% {
    transform: rotateZ(0deg) scale(1);
  }
}
/*///////////////////////////// HEADER STYLES //////////////////////////////////////*/

/*///////////////////////////// CAROUSEL STYLES //////////////////////////////////////*/
.animate-text-one {
  animation: animate-text 0.6s ease-in-out 0s forwards;
}
.animate-text-two {
  animation: animate-text 0.6s ease-in-out 0.1s forwards;
}
.animate-text-three {
  animation: animate-text 0.6s ease-in-out 0.2s forwards;
}
.animate-text-four {
  animation: animate-text 0.6s ease-in-out 0.3s forwards;
}
.animate-button {
  animation: animate-text 0.6s ease-in-out 0.4s forwards;
}

@keyframes animate-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

/*///////////////////////////// CAROUSEL STYLES //////////////////////////////////////*/

.description li {
  padding-left: 20px;
  margin-top: 10px;
}

.animate-opacity {
  animation: animateOpacity 0.3s ease-in-out forwards;
}
.animate-tx-to-left {
  animation: animateSlideToLeft 0.3s ease-in-out forwards;
}

@keyframes animateOpacity {
  100% {
    opacity: 1;
  }
}
@keyframes animateSlideToLeft {
  100% {
    transform: translateX(0%);
  }
}
